<script type="text/javascript" src="angular_test_animation/azf-backend/webapp/docker_django/templates/root/index.html"></script>
<div class="row col-md-12 col-lg-12" id="top_backspace">

</div>
<div id="menu">
    <div class="row col-md-12 col-lg-12">

        <div class="col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-1">
            <a id="link-portfolio" href="{% url 'presentation' %}">
                <img src="img/presentation.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'threedmap' %}">
                <img src="img/3dmap.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'map' %}">
                <img src="img/map.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'equipment' %}">
                <img src="img/equipment.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'accident_prevention' %}">
                <img src="img/accident_prevention.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'history' %}">
                <img src="img/history.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="#products">
                <img src="img/products.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'statistics' %}">
                <img src="img/statistics.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'ecology' %}">
                <img src="img/ecology.png"/>
            </a>
        </div>
        <div class="col-md-1 col-lg-1">
            <a href="{% url 'social' %}">
                <img src="img/social.png"/>
            </a>
        </div>
         <div class="col-md-1 col-lg-1">
            <a href="{% url 'quality' %}">
                <img src="img/quality.png"/>
            </a>
        </div>
    </div>


    <div class="row col-md-12 col-lg-12">
        <br/>

        <div class="col-md-1 name_menu col-md-offset-1 col-lg-1 col-lg-offset-1">
            <a href="prezent.html" style="color: #FFF;text-decoration: none;"> Презентация </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="3dmap.html" style="color: #FFF;text-decoration: none;">&nbsp;3D карта </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="map.html" style="color: #FFF;text-decoration: none;">&nbsp;&nbsp; Схема завода </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="list.html" style="color: #FFF;text-decoration: none;">&nbsp;&nbsp;Список оборудования </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="tehbez.html" style="color: #FFF;text-decoration: none;">&nbsp;&nbsp; Техника безопасности </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="history.html" style="color: #FFF;text-decoration: none;">&nbsp;&nbsp;История </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="products.html" style="color: #FFF;text-decoration: none;"> Продукция </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="statistics.html" style="color: #FFF;text-decoration: none;"> Статистика </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="ekology.html" style="color: #FFF;text-decoration: none;">&nbsp; Экология </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
            <a href="soc.html" style="color: #FFF;text-decoration: none;"> Социальная жизнь </a>
        </div>
        <div class="col-md-1 name_menu col-lg-1">
        	 <a href="soc.html" style="color: #FFF;text-decoration: none;"> Качество  </a>
        </div>
    </div>
</div>
